<html class="antialiased" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../public/assets/img/logo-t.png" type="image/png">
    <title>
      Welcome to TechID - Tech Indonesia
    </title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato:400,700">
    <link rel="stylesheet" type="text/css" href="../public/assets/css/style.css">
    <script src="../public/assets/javascripts/script.js"></script>
  </head>
  <body>
    <div class="hero">
      <div class="container mx-auto">
        <nav class="flex items-center justify-between flex-wrap p-4">
          <div class="flex-grow flex-wrap flex-shrink mr-auto">
            <a href="#">
              <img src="../public/assets/img/logo-white-stacked.png" alt="" width="160" class="mt10 mb10">
            </a>
          </div>
          <div class="block lg:hidden">
            <button class="flex items-center px-3 py-2 border rounded text-white border-white hover:text-white hover:border-white" onclick="myFunction()">
              <a href="javascript:void(0);" class="icon-bars"></a>
                <i class="fas fa-bars"></i>
              </a>
            </button>
          </div>
          <div class="w-full block lg:flex lg:items-center lg:w-auto">
            <div class="top-nav" style="position:relative;" id="my-top-nav">
              <a href="#responsive-header" class="no block text-white mt-4 lg:inline-block lg:mt-0 mr-4">
                home
              </a>
              <a href="#responsive-header" class="no lg:ml-4 block text-white mt-4 lg:inline-block lg:mt-0 mr-4">
                directory
              </a>
              <a href="#responsive-header" class="no lg:ml-4 block text-white mt-4 lg:inline-block lg:mt-0 mr-4">
                about
              </a>
              <a href="#responsive-header" class="no lg:ml-4 block text-white mt-4 lg:inline-block lg:mt-0 mr-4">
                sign up
              </a>
              <a href="#responsive-header" class="no lg:ml-4 block text-white mt-4 lg:inline-block lg:mt-0 mr-4">
                login
              </a>
              <a href="#responsive-header" class="no dropbtn nav-lang lg:pt-3 lg:pb-3 lg:pl-6 lg:ml-4 block text-white mt-4 lg:inline-block lg:mt-0" onclick="myDropdown()">
                english
                <i class="fa fa-caret-down"></i>
              </a>
              <div class="dropdown-content" id="my-dropdown">
                <a href="#">english</a>
                <a href="#">bahasa</a>
              </div>
            </div>
          </div>
        </nav>
        <div class="p-4 mt-150">
          <h2 class="text-white">
            Explore the Tech Startup Ecosystem of Indonesia                
          </h2>
          <h3 class="text-white">
            with more than 650 organisations
          </h3>
          <form action="/en/entity/" method="get" class="mt-20">
            <div class="flex flex-wrap">
              <div class="sm:w-full lg:w-3/4">
                <div class="search-container">
                  <input type="search" name="q" placeholder="Enter name of startup, company, founder, etc." class="search">
                  <button type="submit">Search</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="announcement">
      <div class="container mx-auto pl-4">
        <h2 class="mb-20 minor green">
          <i class="fa fa-bullhorn"></i> Announcement
        </h2>
        <div class='slider'>
          <input checked id='slide-1' name='active' type='radio'>
          <div class='slide'>
            <p class="text-white mb-60 text-align:left">
              We are pleased to bring you TechID in alpha release.
            </p>
          </div>
          <nav class="nav"></nav>
          <nav class='dots'>
            <label class='dot' for='slide-1'></label>
            <label class='dot' for='slide-2'></label>
            <label class='dot' for='slide-3'></label>
            <label class='dot' for='slide-4'></label>
          </nav>
          <input id='slide-2' name='active' type='radio'>
          <div class='slide'>
            <p class="text-white mb-60 text-align:left">
              We are pleased to bring you TechID in alpha release.
            </p>
          </div>
          <nav class="nav"></nav>
          <nav class='dots'>
            <label class='dot' for='slide-1'></label>
            <label class='dot' for='slide-2'></label>
            <label class='dot' for='slide-3'></label>
            <label class='dot' for='slide-4'></label>
          </nav>
          <input id='slide-3' name='active' type='radio'>
          <div class='slide'>
            <p class="text-white mb-60 text-align:left">
              We are pleased to bring you TechID in alpha release.
            </p>
          </div>
          <nav class="nav"></nav>
          <nav class='dots'>
            <label class='dot' for='slide-1'></label>
            <label class='dot' for='slide-2'></label>
            <label class='dot' for='slide-3'></label>
            <label class='dot' for='slide-4'></label>
          </nav>
          <input id='slide-4' name='active' type='radio'>
          <div class='slide'>
            <p class="text-white mb-60 text-align:left">
              We are pleased to bring you TechID in alpha release.
            </p>
          </div>
          <nav class="nav"></nav>
          <nav class='dots'>
            <label class='dot' for='slide-1'></label>
            <label class='dot' for='slide-2'></label>
            <label class='dot' for='slide-3'></label>
            <label class='dot' for='slide-4'></label>
          </nav>
        </div>
      </div>
    </div>
    <div class="media">
      <div class="container mx-auto pl-4">
        <div class="flex flex-wrap mt-20">
          <div class="sm:w-full lg:w-1/2 pb-6 pr-6">
            <h2 class="mb-20 minor dark">
              <i class="fa fa-bookmark"></i>  News
            </h2>
            <div class="bg-white rounded overflow-hidden shadow-lg p-3">
              <div class="px-6 py-4 flex flex-wrap">
                <div class="w-1/4 pb-3">
                  <div class="border-img">
                    <img class="rounded" src="../public/assets/img/logo-cnn-indonesia.jpeg" width="100" height="100">
                  </div>
                </div>
                <div class="sm:w-3/4 lg:w-3/4">
                  <div class="font-bold text-xl mb-2 mx-auto">Dream feel real while we're in them.</div>
                  <div class="text-sm color-o">21 DEC 2017 - 10:25</div>
                  <p class="text-grey-darker text-sm mt-2">
                    I'm going to improvise. Listen, there's something you should know about me, about inception. An idea is like a virus, resilient, highly contagious. The smallest seed of an idea can grow.
                  </p>
                </div>
              </div>
              <div class="hr"></div>
              <div class="px-6 py-4 flex flex-wrap">
                <div class="w-1/4 pb-3">
                  <div class="border-img">
                    <img class="rounded" src="../public/assets/img/logo-techinasia.png" width="100" height="100">
                  </div>
                </div>
                <div class="sm:w-3/4 lg:w-3/4 mx-auto">
                  <div class="font-bold text-xl mb-2">Dream feel real while we're in them.</div>
                  <div class="text-sm color-o">21 DEC 2017 - 10:25</div>
                  <p class="text-grey-darker text-sm mt-2">
                    I'm going to improvise. Listen, there's something you should know about me, about inception. An idea is like a virus, resilient, highly contagious. The smallest seed of an idea can grow.
                  </p>
                </div>
              </div>
              <div class="hr"></div>
              <div class="px-6 py-4 flex flex-wrap">
                <div class="w-1/4 pb-3">
                  <div class="border-img">
                    <img class="rounded my" src="../public/assets/img/logo-detikcom.jpg" width="100" height="100">
                  </div>
                </div>
                <div class="sm:w-3/4 lg:w-3/4 mx-auto">
                  <div class="font-bold text-xl mb-2">Dream feel real while we're in them.</div>
                  <div class="text-sm color-o">21 DEC 2017 - 10:25</div>
                  <p class="text-grey-darker text-sm mt-2">
                    I'm going to improvise. Listen, there's something you should know about me, about inception. An idea is like a virus, resilient, highly contagious. The smallest seed of an idea can grow.
                  </p>
                </div>
              </div>
              <div class="hr"></div>
              <div class="px-6 py-4 flex flex-wrap">
                <div class="w-1/4 pb-3">
                  <div class="border-img">
                    <img class="rounded" src="../public/assets/img/logo-viva.png" width="100" height="100">
                  </div>
                </div>
                <div class="sm:w-3/4 lg:w-3/4 mx-auto">
                  <div class="font-bold text-xl mb-2">Dream feel real while we're in them.</div>
                  <div class="text-sm color-o">21 DEC 2017 - 10:25</div>
                  <p class="text-grey-darker text-sm mt-2">
                    I'm going to improvise. Listen, there's something you should know about me, about inception. An idea is like a virus, resilient, highly contagious. The smallest seed of an idea can grow.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="sm:w-full lg:w-1/2 p-p pb-6 pr-6">
            <h2 class="mb-20 minor dark">
              <i class="fa fa-comments"></i>  Press Release
            </h2>
            <div class="bg-white rounded overflow-hidden shadow-lg p-3">
              <div class="px-6 py-4 flex flex-wrap">
                <div class="w-1/4 pb-3">
                  <div class="border-img">
                    <img class="rounded my" src="../public/assets/img/logo-e27.png" width="100" height="100">
                  </div>
                </div>
                <div class="sm:w-3/4 lg:w-3/4 pl-1 mx-auto">
                  <div class="font-bold text-xl mb-2">Dream feel real while we're in them.</div>
                  <div class="text-sm color-o">21 DEC 2017 - 10:25</div>
                  <p class="text-grey-darker text-sm mt-2">
                    I'm going to improvise. Listen, there's something you should know about me, about inception. An idea is like a virus, resilient, highly contagious. The smallest seed of an idea can grow.
                  </p>
                </div>
              </div>
              <div class="hr"></div>
              <div class="px-6 py-4 flex flex-wrap">
                <div class="w-1/4 pb-3">
                  <div class="border-img">
                    <img class="rounded" src="../public/assets/img/logo-linkedin.png" width="100" height="100">
                  </div>
                </div>
                <div class="sm:w-3/4 lg:w-3/4 mx-auto">
                  <div class="font-bold text-xl mb-2">Dream feel real while we're in them.</div>
                  <div class="text-sm color-o">21 DEC 2017 - 10:25</div>
                  <p class="text-grey-darker text-sm mt-2">
                    I'm going to improvise. Listen, there's something you should know about me, about inception. An idea is like a virus, resilient, highly contagious. The smallest seed of an idea can grow.
                  </p>
                </div>
              </div>
              <div class="hr"></div>
              <div class="px-6 py-4 flex flex-wrap">
                <div class="w-1/4 pb-3">
                  <div class="border-img">
                    <img class="rounded" src="../public/assets/img/logo-techinasia.png" width="100" height="100">
                  </div>
                </div>
                <div class="sm:w-3/4 lg:w-3/4 mx-auto">
                  <div class="font-bold text-xl mb-2">Dream feel real while we're in them.</div>
                  <div class="text-sm color-o">21 DEC 2017 - 10:25</div>
                  <p class="text-grey-darker text-sm mt-2">
                    I'm going to improvise. Listen, there's something you should know about me, about inception. An idea is like a virus, resilient, highly contagious. The smallest seed of an idea can grow.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="entries">
      <div class="container mx-auto pl-2">
        <h2 class="minor dark pl-2 pt-6 mt-4">
          <i class="fas fa-chart-line"></i> Trending
        </h2>
        <div class="flex flex-wrap pt-2">
          <div class="w-full lg:w-1/4 md:w-1/2 p-2">          
            <div class="bg-white rounded overflow-hidden shadow-lg">
              <img class="w-auto m-auto block" src="../public/assets/img/active-ai.png">
              <div class="hr-1">
                <div class="px-6 py-4">
                  <div class="text-lg mb-4">Active AI</div>
                  <span class="inline-block bg-grey-lighter rounded px-3 py-1 text-sm text-grey-darker mr-2">STARTUP</span>
                  <span class="inline-block bg-grey-lighter rounded px-3 py-1 text-sm text-grey-darker mr-2">CORPORATE</span>
                </div>
              </div>
            </div>
          </div>
          <div class="w-full lg:w-1/4 md:w-1/2 p-2">
            <div class="bg-white rounded overflow-hidden shadow-lg">
              <img class="w-auto m-auto block" src="../public/assets/img/advent-integra-solutions.png">
              <div class="hr-1">
                <div class="px-6 py-4">
                  <div class="text-lg mb-4">Advent Integra Solutions</div>
                  <span class="inline-block bg-grey-lighter rounded px-3 py-1 text-sm text-grey-darker mr-2">STARTUP</span>
                </div>
              </div>
            </div>
          </div>
          <div class="w-full lg:w-1/4 md:w-1/2 p-2">
            <div class="bg-white rounded overflow-hidden shadow-lg">
              <img class="w-auto m-auto block" src="../public/assets/img/adz-central-pte-ltd.png">
              <div class="hr-1">
                <div class="px-6 py-4">
                  <div class="text-lg mb-4">Adz Central Pte Ltd</div>
                  <span class="inline-block bg-grey-lighter rounded px-3 py-1 text-sm text-grey-darker mr-2">STARTUP</span>
                </div>
              </div>
            </div>
          </div>
          <div class="w-full lg:w-1/4 md:w-1/2 p-2">
            <div class="bg-white rounded overflow-hidden shadow-lg">
              <img class="w-auto m-auto block" src="../public/assets/img/luxola-pte-ltd.png">
              <div class="hr-1">
                <div class="px-6 py-4">
                  <div class="text-lg mb-4">Luxola Pte Ltd</div>
                  <span class="inline-block bg-grey-lighter rounded px-3 py-1 text-sm text-grey-darker mr-2">STARTUP</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="flex flex-wrap pb-10">
          <div class="w-full lg:w-1/4 md:w-1/2 p-2">
            <div class="bg-white rounded overflow-hidden shadow-lg">
              <img class="w-auto m-auto block" src="../public/assets/img/bubble-motion.png">
              <div class="hr-1">
                <div class="px-6 py-4">
                  <div class="text-lg mb-4">Bubble Motion</div>
                  <span class="inline-block bg-grey-lighter rounded px-3 py-1 text-sm text-grey-darker mr-2">STARTUP</span>
                </div>
              </div>
            </div>
          </div>
          <div class="w-full lg:w-1/4 md:w-1/2 p-2">
            <div class="bg-white rounded overflow-hidden shadow-lg">
              <img class="w-auto m-auto block" src="../public/assets/img/cloudfuze.png">
              <div class="hr-1">
                <div class="px-6 py-4">
                  <div class="text-lg mb-4">Cloudfuze</div>
                  <span class="inline-block bg-grey-lighter rounded px-3 py-1 text-sm text-grey-darker mr-2">STARTUP</span>
                  <span class="inline-block bg-grey-lighter rounded px-3 py-1 text-sm text-grey-darker mr-2">CORPORATE</span>
                </div>
              </div>
            </div>
          </div>
          <div class="w-full lg:w-1/4 md:w-1/2 p-2">
            <div class="bg-white rounded overflow-hidden shadow-lg">
              <img class="w-auto m-auto block" src="../public/assets/img/gogo-app.png">
              <div class="hr-1">
                <div class="px-6 py-4">
                  <div class="text-lg mb-4">Gogo App</div>
                  <span class="inline-block bg-grey-lighter rounded px-3 py-1 text-sm text-grey-darker mr-2">STARTUP</span>
                </div>
              </div>
            </div>
          </div>
          <div class="w-full lg:w-1/4 md:w-1/2 p-2">
            <div class="bg-white rounded overflow-hidden shadow-lg">
              <img class="w-auto m-auto block" src="../public/assets/img/nus-enterprise.png">
              <div class="hr-1">
                <div class="px-6 py-4">
                  <div class="text-lg mb-4">NUS Enterprise</div>
                  <span class="inline-block bg-grey-lighter rounded px-3 py-1 text-sm text-grey-darker mr-2">STARTUP</span>
                  <span class="inline-block bg-grey-lighter rounded px-3 py-1 text-sm text-grey-darker mr-2">EDUCATION</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="container mx-auto pl-4">
        <div class="flex flex-wrap mt-20">
          <div class="sm:w-full lg:w-3/5 pb-6">
            <a href="#">
              <img src="../public/assets/img/ti-logo-1.png" alt="" width="140" class="mb-20">
            </a>
            <p class="mb-4" style="line-height: 1.8">
              Send your thoughts to: hello@techid.io
              <br>
              Copyright © 2018 TechIndonesia. All rights reserved.
            </p>
            <p class="footer-links">
              <a href="#">Terms of Use</a>
              <span class="separator">•</span>
              <a href="#">Privacy Policy</a>
              <span class="separator">•</span>
              <a href="#">Report Issues</a>
            </p>
          </div>
          <div class="sm:w-full lg:w-2/5 pb-6">
            <p class="partners align-right">
              <span class="inline-block align-left mr-40">
                Knowledge partner:
                <br>
                <img style="margin-left: -10px;" src="../public/assets/img/nus-200.png" alt="">
              </span>
              <span class="inline-block align-left">
                Powered by:
                <br>
                <img style="margin-left: -10px;" src="../public/assets/img/wonderlabs-200.png" alt="">
              </span>
            </p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>